header {
  padding: 154px 0 100px;
  height: 100vh;
  background-color: #90caf9;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
    height: 100vh;
  }
  section { 
    height: 100vh;
  }

}

body {
  height: 100vh;
}

section {
  padding: 50px;
  /* height: 100vh; */
}

.navbar{
  background-color:#5d99c6;
}

h1 {
  font-weight: bold;
  margin: 100px;
  font-size: 65px;
  color: white;
}

h2{
  margin-bottom: 50px;
  font-size: 50px;
}

h4{
  text-align: center;
}

.btn-primary {
  background-color: #5d99c6;
  border: #5d99c6;
}

.btn-primary:hover {
  background-color: #90caf9;
  border: #90caf9;
}

.card {
  margin-bottom: 20px;
}
/* 
.card-title {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
} */